:root {  
    /* Skrift variabler */
    --fontFamily: "Roboto";
    --fontSize: 18px;
  }

.background{
    background-color: hotpink;
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: cyan;
}

p {
    font-family: var(--fontFamily);
}