:root {
  /* Farge variabler */
  --primaryColor: rgb(14, 0, 14);
  --secondaryColor: #ffc5c9ff; /* Tea rose red*/
  --accentColor: #ffffd1ff; /* Cream */
  --accentColorTwo: rgb(35, 26, 18); /* Champagne pink*/
  --accentColorThree: #fff6edff; /* Seashell */

  /* Størrelse variabler */
  --smallSpace: 8px;
  --mediumSpace: 16px;
  --largeSpace: 24px;
  --fullScreen: 100vh;

  /* Skrift variabler */
  --fontFamily: "Roboto";
  --fontSize: 18px;
}

/* GENERAL */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--fontFamily);
}

img {
  max-width: 50%;
}

.icon {
  height: 32px;
  width: 32px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--accentColor);
}


h1, h2, p {
  background-color: rgba(0, 0, 0, 0.486);
  font: var(--fontFamily);
  color: var(--accentColor);
}

.flexTrueCenter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
}

.fiftyFifty {
  width: 500px;
  height: 600px; 
}

.grid {
  display: grid;
  grid-template-areas: 
  "img img"
  "text text"
  ;
}

.heading {
  display: flex;
  justify-content: center;
  font-size: 200px;

}

@media (max-width: 426px) {
  .heading {
    font-size: 50px;
  }
}

/*background*/

.purple{
  background-color: var(--primaryColor);
}

.webb {
  background-image: url('images/webbteleskop.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  min-height: 100vh;
}

.hubbel {
  background-image: url('images/hubbelbackground.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  min-height: 100vh;

}

.orange {
  background-color: orange;
  color: purple;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

/* Nav */
.navList {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.486);
  color: var(--accentColor);
}

/* MAIN */
.section {
  min-height: 90vh;
}

.nyanCat {
  cursor: pointer;
  }

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primaryColor);
}

/* MEDIA */
@media (max-width: 426px) {
  .section {
    flex-direction: column;
    gap: 8px;
    padding: 8px;
  }
}